# Predložak za release potpis. Kopiraj u "keystore.properties" (koji je u .gitignore)
# i popuni stvarnim vrijednostima. NE commitati keystore.properties ni .jks datoteku.
storeFile=navijaci-release.jks
storePassword=TVOJA_LOZINKA_KEYSTOREA
keyAlias=navijaci
keyPassword=TVOJA_LOZINKA_KLJUCA
